<html ng-app="Gomura" >
  <head>
    <title>Gomura</title>
    <link rel="stylesheet" href="http://getskeleton.com/dist/css/normalize.css">
    <link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<style>
		body{
			font-family: 'Montserrat', sans-serif;
		}
	</style>
  </head>
  <body>
	<ng-view></ng-view>
	

	<script type="text/javascript" src="/scripts/components/angular.min.js"></script>	
	<script type="text/javascript" src="/scripts/components/angular-resource.min.js"></script>
	<script type="text/javascript" src="/scripts/components/angular-route.min.js"></script>
	<script src="/js/app.js"></script>
  </body>
</html>