<div class="container">
    <div class="row">
        <div class="two-third column">
            <div ng-repeat="x in categories track by $index">
				<div class="pure-u-1 pure-u-md-1-3">
				    <label for="first-name">{{x}}</label>
				    <input id="first-name" class="pure-u-23-24" type="text">
				</div>
			</div>
            <button type="submit" class="button">Submit</button>
        </div>
        <div class="one-third column">
            <ul class="pure-menu-list">
				<li ng-repeat="u in users">
					<a class="pure-menu-link">{{u.name}}</a>
				</li>
			</ul>

            <ul>
			    <li ng-repeat="data in MyData.collection track by $index">
				    {{ data }}
			    </li>
		    </ul>
        </div>
    </div>
</div>